/* -- Global rules -- */
* {
  font-family: "Maple Mono NF CN";
  font-size: 15px;
  min-height: 0px;
}

window#waybar {
  background: rgba(24, 25, 38, 1);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio_slider,
#window,
#network,
#tray {
  color: #161320;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 15px;
  color: #89B4FA;
  background: #161320;
  padding-right: 17px;
}

#clock {
  background: #ABE9B3;
}

#cpu {
  background: #96CDFB;
}

#memory {
  background: #DDB6F2;
}

#disk {
  background: #F5C2E7;
}

/* Modules center */
#window {
  background: #eed49f;
  color: #181926;
}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 0px;
  padding: 0px 5px;
  margin: 6px 5px;
}


#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 0px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#pulseaudio {
  color: #1A1826;
  background: #F5E0DC;
}

#pulseaudio_slider {
  color: #1A1826;
  background: #E8A2AF;
}

#network {
  background: #91d7e3;
  padding-right: 13px;
}

#tray {
  background: #A6E3A1;
}

#workspaces {
  background: #8aadf4;
  border-radius: 0px;
  /*margin: 6px 5px;*/
  padding: 0px 0px;
}


#workspaces button {
  color: #181926;
 /* background: transparent; */
  padding: 4px 4px;
 /*transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
*/
 }

#workspaces button.occupied {
  color: #181926;
}

#workspaces button.active {
  color: #181926;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: #89B4FA;
  border-radius: 0px;
}

#workspaces button.active:hover {}


/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}
